<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
         <!--partials-->
        {{>header}}
        <!--dynamic templating using handlebars-->
        <!--<h1>{{title}}</h1>-->
        <img class="portrait" src="/img/myPicture.jpg"/>
        {{!-- <p>Created by {{name}}</p> --}}
    </div>
    
    {{>footer}}
</body>

</html>